@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Poppins", sans-serif;
} 

/* navbar style */

.navbar {
    display: flex;
    justify-content: space-around;
} 

.nav-items {
    display: flex;
    gap: 35px;
    margin: 0;
    margin-top: 95px;
} 

.nav-items li {
    list-style: none;
} 

.nav-items a {
    text-decoration: none;
    color: rgb(58, 58, 58);
    font-weight: 600;
    margin: 0;
    font-size: 1rem;
} 

.brand-name {
    font-size: 1.5rem;
    font-weight: 700;
    color: rgb(58, 58, 58);
    text-align: left;
    margin: 0;
    margin-top: 87px;
} 

/* start-journey style */
.start-journey {
    display: flex;
    margin: 0 auto;
    width: 1440px;
} 

.start-journey-content {
    width: 582px;
    height: 270px;
    margin-top: 145px;
    margin-left: 60px;
} 

.start-journey-content h1 {
    color: rgb(58, 58, 58);
    font-family: Poppins;
    font-size: 3.25rem;
    font-weight: 700;
    line-height: 70px;
    text-align: left;
    margin: 0;
} 

.start-journey-content p {
    color: rgb(58, 58, 58);
    font-family: Poppins;
    font-size: 1rem;
    font-weight: 600;
    text-align: left;
    margin-top: 16px;
} 

.primary-btn {
    width: 196px;
    height: 44px;
    border-radius: 41px;
    background: rgb(224, 44, 109);
    border: none;
    color: rgb(255, 255, 255);
    font-family: Poppins;
    font-size: 1rem;
    font-weight: 700;
    padding: 10px 24px 10px 24px;
    margin-top: 16px;
} 

.start-journey-container {
    width: 475px;
    height: 475px;
    background-image: url("/images/Circle\ design.svg");
    background-size: cover;
    margin-top: 50px;
    margin-left: 280px;
} 

.start-journey-img {
    width: 440px;
    height: 414px;
    margin: 30px 33px 31px 2px;
} 

.start-journey-img img {
    width: 100%;
    height: 100%;
} 

/* for responsive mobile */
@media screen and (max-width: 576px) {
    .navbar {
        flex-direction: column;
    } 

    .nav-items {
        margin-top: 30px;
        gap: 5px;
        margin-left: 140px;
        padding: 0;
        width: 100%;
    } 

    .brand-name {
        margin-top: 20px;
        text-align: center;
        margin-left: 150px;
    } 

    .start-journey-container {
        width: 257px;
        height: 257px;
        margin: 0;
        margin: 22px 0px 14px 150px;
    } 

    .start-journey-img {
        width: 202px;
        height: 190px;
    }

    .start-journey-img img {
        width: 100%;
    }

    .start-journey {
        flex-direction: column-reverse;
        width: 100%;
    }

    .start-journey-content {
        margin: 0 auto;
    } 

    .start-journey-content h1{
        width: 100%;
        text-align: center;
        font-size: 3rem;
        line-height: 42px;
        margin-top: 15px;
    }

    .start-journey-content p {
        margin: 0;
        width: 100%;
        margin-top: 15px;
        text-align: center;
        margin-right: 20px;
    } 

    .primary-btn {
        margin-left: 190px;
        margin-top: 50px;
    }
}